*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: "nanumB";
  src: url("../fonts/NanumSquareRoundEB.ttf");
}

@font-face {
  font-family: 'GmB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#headerBg {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #71bfff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 20;
  /*justify-content: space-between;*/
}

#horizontalHeaderBg{
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 100%; */
  z-index: 15;
}

#horizontalHeaderBg a{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
}

#mainBg{
  height: calc(100vh + 1px);
  -webkit-box-pack: center;
  background-image: url("/src/css/img/mainBg2.png");
  background-position: center center;
  background-size: cover;
}

#login{
  color: aqua;
  margin-right: 20px;
  font-size: large;
}

#mainBody{

  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mainBanner{
  font-family: "GmB";
  font-size: 2vw;
  color: white;
}

#mainBanner2{
  font-family: "GmB";
  font-size: 5vw;
  color: white;
}

#playBnt{
  margin-top: 60px;
  width: fit-content;
  font-family: "GmB";
  font-size: 2vw;
  padding: 20px;
  background-color: #990000;
  color: white;
  border-style: none;
  border-radius: 9px;
  cursor: pointer;
}

#playBnt:hover{
  background-color: white;
  color: #990000;
}

.verNavItem{
  padding-bottom: 0.5px;
  background-color: #71bfff;
}

.verNavItemClicked{
  padding-bottom: 0.5px;
  background-color:#008cff;
}

.verNavItem:hover{
  cursor: pointer;
  background-color: #008cff;
}


.logoImg{

  min-width: 50px;
  max-width: 75px;
  /* width:10vh;  */

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;

  align-content: inherit;
  border: 0;

  /* 이미지  */
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.horizonLogoImg{

  width:40px;
  height: 40px;

  /* padding:  5px; */
  border: 0;
  padding:  5px;

  /* 이미지  */
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.horizonLogoImg:hover{
  background-color: #eeeeee;
  border-radius: 10px; 
}

.horizonLogoImg2{

  width:40px;
  height: 40px;

  border: 0;
  padding:  5px;

  /* 이미지  */
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.horizonLogoImg2:hover{
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px; 
}

.header_title{ 
  text-align: center;
  font-family: "nanumB";
  /* font-size: 2vh; */
  font-size: 17px;
  min-width: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}


.header_line{
  height: 3px;
  background-color: white;
  border: none;
  border-style: none;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

}
