* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

@font-face {
  font-family: 'nanumRR';
  src: url('../fonts/NanumSquareRoundR.ttf');
}

@font-face {
  font-family: 'nanumRB';
  src: url('../fonts/NanumSquareRoundEB.ttf');
}

@font-face {
  font-family: 'nanumB';
  src: url('../fonts/NanumSquareB.ttf');
}

@font-face {
  font-family: 'nanumR';
  src: url('../fonts/NanumSquareR.ttf');
}

#chatRoomBody {
  min-width: 100px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.secondHorizontalNav {
  height: 100vh;
  background-color: #f6f6f6;
  /* background-color: #ebf6ff; */
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.secondHorizontalNav div {
  overflow-y: auto;
  height: 100vh;
  width: 25vw;
  max-width: 400px;
  min-width: 300px;
  background-color: #f6f6f6;
  /* background-color: #ebf6ff; */
}

#emptySpace1 {
  /* background-color: #ebf6ff; */
  background-color: #f6f6f6;
  width: 160px;
  /* max-width: 130px; */
  min-width: 90px;
}

.secondHorizontalNav h3 {
  font-family: 'nanumB';
  padding-left: 25px;
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #990000;
}

.secondHorizontalNav div .nonSelectedRoomLi {
  /* width: 20vw; */
  font-family: 'nanumB';
  background-color: white;
  margin: 0px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  padding: 12px;
  list-style: none;
}

.secondHorizontalNav div .selectedRoomLi {
  /* width: 20vw; */
  font-family: 'nanumB';
  background-color: #b2dcff;
  margin: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  list-style: none;
}

.secondHorizontalNav div li:hover {
  background-color: #b2dcff;
}

.secondHorizontalNav li p:nth-child(1) {
  font-family: 'nanumB';
  font-size: 18px;
}

.secondHorizontalNav li p:nth-child(2) {
  font-family: 'nanumR';
  font-size: 13px;
  padding-top: 8px;
}

.secondHorizontalNav .navQuestionBnt {
  /* width: 20vw; */
  font-family: 'nanumB';
  font-size: 20px;
  background-color: white;
  margin: 0px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.secondHorizontalNav .navQuestionBnt:hover {
  background-color: #b2dcff;
}

.secondHorizontalNav .navQuestionSelectedBnt {
  /* width: 20vw; */
  font-family: 'nanumB';
  font-size: 20px;
  background-color: #b2dcff;
  margin: 0px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.secondHorizontalNav .navQuestionBnt img {

  width:50px;
  margin-right: 15px;
}

.secondHorizontalNav .navQuestionSelectedBnt img {

  width:50px;
  margin-right: 15px;
}

#mainChatting {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#mainChatting h3 {
  font-family: 'nanumB';
  font-size: 20px;
  color: #990000;
  margin-top: 30px;
  margin-left: 20px;
}

#chattingSpace,
#taChattingSpace {
  overflow-y: scroll;
  height: 90%;
  margin-right: 20px;
}

#inputForm {
  display: flex;
}

#msgInput {
  flex: 1;
  margin: 20px 10px 20px 20px;
  min-height: 50px;
  border: solid 2px #990000;
  border-radius: 10px;
  padding-left: 20px;
  font-family: 'nanumR';
  font-size: 20px;
}

#msgInput:focus {
  outline: none;
  border: solid 2px #ff7777;
  /* border: solid 3px #990000; */
  /* border-radius: 10px; */
}

#taMsgInput {
  flex: 1;
  margin: 20px 10px 20px 20px;
  min-height: 50px;
  border: solid 2px #008cff;
  border-radius: 10px;
  padding-left: 20px;
  font-family: 'nanumR';
  font-size: 20px;
}

#taMsgInput:focus {
  outline: none;
  border: solid 2px #00d8ec;
  /* border: solid 3px #990000; */
  /* border-radius: 10px; */
}

#msgBnt {
  width: fit-content;
  font-family: 'nanumB';
  font-size: 17px;
  margin: 20px 20px 20px 0px;
  padding: 0px 13px 0px 13px;

  background-color: #990000;
  color: white;
  border-style: none;
  border-radius: 9px;
  cursor: pointer;
}

#msgBnt:hover {
  background-color: #ff7777;
}

#taMsgBnt {
  width: fit-content;
  font-family: 'nanumB';
  font-size: 17px;
  margin: 20px 20px 20px 0px;
  padding: 0px 13px 0px 13px;

  background-color: #008cff;
  color: white;
  border-style: none;
  border-radius: 9px;
  cursor: pointer;
}

#taMsgBnt:hover {
  background-color: #00d8ec;
}

.botMsg {
  display: flex;
  flex-direction: row;
}

.botMsg img {
  width: 50px;
  height: 50px;
  margin: 20px;

  /* 이미지  */
  image-rendering: crisp-edges;
  transform: translateZ(0);
  backface-visibility: hidden; 
}

.botMsg div {
  margin-top: 10px;
  margin-bottom: 20px;
}

.botMsg div p:nth-child(1) {
  font-family: 'nanumB';
  font-size: 20px;
  margin-top: 20px;
}

.botMsg div p:nth-child(2) {
  font-family: 'nanumR';
  font-size: 17px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  max-width: 50vw;
}

.userMsg {
  display: flex;
  flex-direction: row-reverse;
}

.userMsg div {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 50px;
}

.userMsg div p:nth-child(1) {
  text-align: end;
  font-family: 'nanumB';
  font-size: 20px;
  margin-top: 20px;
  max-width: 50vw;
  margin-left: 20px;
}

.userMsg div p:nth-child(2) {
  font-family: 'nanumR';
  font-size: 17px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

/* 스크롤바 설정 */

#chattingSpace::-webkit-scrollbar,
#taChattingSpace::-webkit-scrollbar {
  width: 10px;
}

#chattingSpace::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #990000;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

#taChattingSpace::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #008cff;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
#chattingSpace::-webkit-scrollbar-track,
#taChattingSpace::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.secondHorizontalNav div::-webkit-scrollbar {
  display: none;
}

/* 스크롤바 설정 */
