* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'nanumB';
  src: url('../fonts/NanumSquareRoundEB.ttf');
}

@font-face {
  font-family: 'GmB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

#loginMainContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#loginBox {
  width: 700px;
  height: fit-content;
  position: relative;
  top: 50px;
  background-color: white;
  margin: 0 auto 100px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
}

#loginBox h3 {
  font-family: 'GmB';
  font-size: 27px;
  margin-bottom: 50px;
}

#loginBox h5 {
  width: 350px;
  font-family: 'nanumB';
  font-size: 18px;
  margin: 10px 0 5px 0;
  justify-content: left;
  text-align: left;
}

#idInput {
  width: 350px;
  border: solid 2px #990000;
  border-radius: 10px;

  font-family: 'nanumR';
  font-size: 20px;
  padding: 10px;
  margin: 5px 0px 40px 0px;
}

#pwdInput{
  width: 350px;
  border: solid 2px #990000;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0px 40px 0px;
}

#idInput:focus,
#pwdInput:focus {
  outline: none;
  border: solid 2px #ff7777;
  /* border: solid 3px #990000; */
  /* border-radius: 10px; */
}

#loginBox img {
  width: 125px;
  height: 125px;

  /* padding:  5px; */
  border: 0;
  margin-top: 20px;
  margin-bottom: 60px;

  /* 이미지  */
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

#loginBox button {
  width: 370px;
  height: fit-content;
  font-family: 'nanumB';
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 0 15px 0;

  background-color: #990000;
  color: white;
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
}

#loginBox button:hover{
  background-color: #ff7777;
}


#textBox{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.contentsText1{
  font-family: 'nanumB';
  color: black;
  font-size: 15px;
  margin:0 25px 0 25px;
}

.contentsText1:hover{
  color: #ff7777;
  cursor: pointer;
}
