* {
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
  }

  
@font-face {
    font-family: 'nanumB';
    src: url('../fonts/NanumSquareRoundEB.ttf');
  }
  
  @font-face {
    font-family: 'GmB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
      format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GmL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
      format('woff');
    font-weight: normal;
    font-style: normal;
  }

  #qaBox {
    width: 700px;
    height: fit-content;
    position: relative;
    top: 50px;
    background-color: white;
    margin: 0 auto 10px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #qaBox h3 {
    font-family: 'GmB';
    font-size: 27px;
    margin-bottom: 50px;
  }

  #qaBox img {
    width: 125px;
    height: 125px;
  
    /* padding:  5px; */
    border: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  
    /* 이미지  */
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  #qaNoticeBox {
    width: 600px;
    /* border:#990000 solid 2px; */
    background-color: #f6f6f6;
  
    margin: 0px auto 50px auto;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
    text-align: left;
  }

  #qaNoticeBox .notice {
    font-family: 'nanumB';
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  #qaNoticeBox a {
    width: 370px;
    height: fit-content;
    font-family: 'nanumB';
    font-size: 17px;
    margin: 20px auto 0px auto;
    padding: 15px 0 15px 0;
  
    background-color: #990000;
    color: white;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
  }
  
  #qaNoticeBox a:hover{
    background-color: #ff7777;
  }

  #qaNoticeBox .question {
    display: flex;
    flex-direction: row;
    
  }

  #qaNoticeBox p {
    font-family: 'nanumB';
    font-size: 17px;
    align-self: center;
    margin-left: 10px;
  }

  #qaNoticeBox .answer {
    font-family: 'nanumB';
    font-size: 14px;
    align-self: center;
    color: #6b6b6b;
    margin-left: 43px;
    margin-bottom: 30px;
  }

  #qaNoticeBox .question img {
    width: 30px;
    height: 30px;
  
    /* padding:  5px; */
    border: 0;
    margin: 0;
    /* 이미지  */
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
  }