@font-face {
    font-family: 'nanumB';
    src: url('../../fonts/NanumSquareB.ttf');
  }
  
  @font-face {
    font-family: 'nanumR';
    src: url('../../fonts/NanumSquareR.ttf');
  }

.hotKeywordInfoModal{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 989;
}

.hotKeywordInfoModal .hotKeywordInfoMbg{
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hotKeywordInfoModalBox{
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 435px;
    padding: 15px;
}

.hotKeywordInfoModalBox p:nth-of-type(1){
    font-family: nanumB;
    font-size: 20px;
    color: #990000;
}

.hotKeywordInfoContent{
    height: 300px;
    margin:20px 10px 0px 10px;

    background-color: #f6f6f6;
    text-align: start;
    overflow: auto;
    padding: 15px;
}

.hotKeywordInfoContent p:nth-of-type(1){
    font-family: nanumB;
    font-size: 20px;
    color: black;
    margin: 0px 0px 20px 0px;
}

.hotKeywordInfoModalBox div:nth-of-type(2){
    
    width: 100%;
    height: 2px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #f1f1f1;
}

.hotKeywordInfoModalBox button{

    width: 100%;
    background-color: white;
    border:none;
    color: black;
    font-family: nanumB;
    font-size: 20px;
    padding : 10px 20px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.hotKeywordInfoContent::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .hotKeywordInfoContent::-webkit-scrollbar-thumb {
    height: 10px;
    width: 10px;
    background-color: #990000;
    /* 스크롤바 둥글게 설정    */
    border-radius: 10px;
}
  
/* 스크롤바 뒷 배경 설정*/
.hotKeywordInfoContent::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    border-radius: 10px;
}
