@font-face {
  font-family: 'nanumB';
  src: url('../../fonts/NanumSquareB.ttf');
}

@font-face {
  font-family: 'nanumR';
  src: url('../../fonts/NanumSquareR.ttf');
}

.roomAddingmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 989;
}

.roomAddingmodal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.roomAddingmodalBox {
  position: absolute;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  /* height: 345px; */
  height: fit-content;
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}

#textAreaTip{
    font-family: nanumR;
    font-size: 13px;
    margin-left: 60px;
}

.oneRow,
.secondRow {
  display: flex;
  flex-direction: row;
}

.oneRow p {
  font-family: nanumB;
  font-size: 18px;
  color: black;
  margin: 10px 30px 0px 30px;
}

.oneRow input {
  width: 320px;
  border: solid 2px #990000;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'nanumR';
  padding: 10px;
  margin-bottom: 30px;
}

.secondRow p {
  font-family: nanumB;
  font-size: 18px;
  color: black;
  margin: 10px 30px 0px 30px;
}

.secondRow textarea {
  width: 320px;
  height: 50px;
  border: solid 2px #990000;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'nanumR';
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  margin-left: 13px;
  resize: none;
}

.oneRow input:focus,
.secondRow textarea:focus {
  outline: none;
  border: solid 2px #ff7777;
}

.roomAddingmodalBox .modalTitle {
  font-family: nanumB;
  font-size: 22px;
  color: #990000;
  margin-bottom: 40px;
}

.roomAddingmodalBox .cuttingLine {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f1f1f1;
}

.roomAddingmodalBox button {
  width: 100%;
  background-color: white;
  border: none;
  color: black;
  font-family: nanumB;
  font-size: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.bntGroup{
    display: flex;
    flex-direction: row;
}


.secondRow textarea::-webkit-scrollbar {
  width: 13px;
}

.secondRow textarea::-webkit-scrollbar-thumb {
  height: 5%;
  background-color: #990000;
  /* 스크롤바 둥글게 설정    */
  border-radius: 20px;
  background-clip: padding-box;
  /* border-right: 15px white rgba(255,255,255,1); */
  border: 4px solid rgba(0, 0, 0, 0);
}

.secondRow textarea::-webkit-scrollbar-track {
  /* background-color: #f6f6f6; */
  border-radius: 10px;
}
